.color-swatch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  width: 10rem;
  border-radius: 0.25rem;
  font-family: Arial, Helvetica, sans-serif;
}

.color-swatch__label {
  text-align: center;
}
