.app {
}

.header {
  padding: 0.5rem 0;
  background: darkblue;
}

.header__content {
  max-width: 1236px;
  margin: auto;
  color: white;
}

.main {
  max-width: 1236px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
